extends layout

block content
  .row.banner
    .col-12
      h1= pageHeader.title

  .row
    .col-12.col-md-8
      form#addNote(action="http://localhost:3000/server/addnote", method="post", role="form")
        - if (error == "val")
          .alert.alert-danger(role="alert") All fields required, please try again
        .form-group.row
          label.col-10.col-sm-2.col-form-label(for="title") Title
          .col-12.col-sm-10
            input#name.form-control(name="title")        
        .form-group.row
          label.col-10.col-sm-2.col-form-label(for="note") Note
          .col-12.col-sm-10
            textarea#review.form-control(name="note", rows="5")
        button.btn.btn-primary.float-right Add Note
    .col-12.col-md-4